# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg
*.egg-info/
.eggs/
*.manifest
*.spec

# ---- Django ----
*.log
*.pot
*.pyc
*.sqlite3
Inventory-Backend/db.sqlite3
Inventory-Backend/media/
Inventory-Backend/staticfiles/
Inventory-Backend/.env

# ---- Virtual Environments ----
venv/

# ---- pipenv ----
Pipfile.lock

# ---- mypy ----
.mypy_cache/
.dmypy.json
dmypy.json

# ---- pyright ----
pyrightconfig.json

# ---- React / Node ----
Inventory-Frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Inventory-Frontend/package-lock.json
Inventory-Frontend/yarn.lock
Inventory-Frontend/.pnp/
Inventory-Frontend/.pnp.js
Inventory-Frontend/.env

# ---- React Build ----
Inventory-Frontend/build/
dist/
build/

# ---- Mac / Windows ----
.DS_Store
Thumbs.db

# ---- VSCode ----
.vscode/

# ---- Misc ----
*.log
